@import url('./header.css');
@import url('./anim.css');

/* @font-face {
    font-family: NotoSansDisplayLight;
    src: url('../src/NotoSansDisplay-Light.ttf');
}
@font-face {
    font-family: RobotoThin;
    src: url('../src/Roboto-Thin.ttf');
}
@font-face {
    font-family: RobotoLight;
    src: url('../src/Roboto-Light.ttf');
}
@font-face {
    font-family: NotoSansThin;
    src: url('../src/NotoSans-Thin.ttf');
} */
/* @font-face {
    font-family: NotoSansExtraLight;
    src: url('../src/NotoSans-ExtraLight.ttf');
} */
/* @font-face {
    font-family: NotoSansLight;
    src: url('../src/NotoSans-Light.ttf');
} */
@font-face {
    font-family: RobotoRegular;
    src: url('../src/font/Roboto-Regular.ttf');
}
@font-face {
    font-family: RobotoLight;
    src: url('../src/Roboto-Light.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: RobotoLight;
    height: 100%;
    background: #eee;
}
div#wrap{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}